@media (min-width: 768px) {/*create app-responsive.css - W.Mekal?*/
  body {
    padding-top: 40px;
  }
}

.hero-unit{
    text-align: center;
}

.footer{
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 30px 0;
    text-align: center;
}

.transits{
}

.transit-requests{
}

.transit{
    border: 1px #000 solid;
    margin-bottom: 20px;
    padding: 20px;
}

.transit table{
    margin: 20px;
    
}

.transit table th{
    text-align: right;
}

@media (min-width: 768px) and (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}