<h1>Dashboard</h1>

<div class="row">
    <div class="span6">
        <div class="transits">
            <h2>Odjazdy</h2>

            <div data-ng-repeat="transit in transits|filter:{type:'offer'}" class="transit">
            <table class="table-condensed">
                <tr>
                    <th>Od:</th>
                    <td>{{transit.from}}</td>    
                </tr>
                <tr>
                    <th>Do:</th>
                    <td>{{transit.to}}</td>    
                </tr>
                <tr>
                    <th>Godzina:</th>
                    <td>{{transit.at}}</td>    
                </tr>
                <tr>
                    <th>Kierowca:</th>
                    <td>{{transit.driver}}</td>    
                </tr>
                <tr>
                    <th>Wolnych miejsc:</th>
                    <td>{{transit.spacesLeft}}</td>    
                </tr>
            </table>
            
            <a class="btn" href="#">Some action</a>
        </div>
        </div>
    </div>
        
    <div class="span6">
        <div class="transit-requests">
            <h2>Zapytania</h2>

            <div data-ng-repeat="transit in transits|filter:{type:'request'}" class="transit">
                <table class="table-condensed">
                    <tr>
                        <th>Od:</th>
                        <td>{{transit.from}}</td>    
                    </tr>
                    <tr>
                        <th>Do:</th>
                        <td>{{transit.to}}</td>    
                    </tr>
                    <tr>
                        <th>Godzina:</th>
                        <td>{{transit.at}}</td>    
                    </tr>
                    <tr>
                        <th>Potrzebujący:</th>
                        <td>{{transit.requestor}}</td>    
                    </tr>
                    <tr>
                        <th>Potrzebnych miejsc:</th>
                        <td>{{transit.spacesNeeded}}</td>    
                    </tr>
                </table>

                <a class="btn" href="#">Some action</a>
            </div>
        </div>
    </div>
</div>
